/* ESTILOS DESKTOP */

/*  Huge */
@media screen and (min-width: 1281px) {
    .home-principal {
        height: 66vh;
    }
}

@media screen and (min-width: 1024px) {
    .alta-principal {
        height: 100vh;
    }
}

@media screen and (min-width: 1281px) {
    .alta-principal {
        height: 80vh;
    }
}



