@import '../utilidades/variables';

/* RESET CSS */
/* elimina estilos por default de los navegadores*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: $background-color
}