// paletas de colores

$color-principal: #90e0ef;
$color-secundario: #00b4d8;
$color-terciario: #ffcc00;
$color-quaternario: #ff69b4;
$color-quintenario: #ff6347;

$background-color: whitesmoke;

$color-text-principal: white;
$color-text-secundario: black;
